import(SparseM,GO.db,annotate,AnnotationDbi)
export(error.FDR.BH,
       error.FDR.YB,
       error.FWER.Bonf,
       error.FWER.Holm,
       error.FWER.WY,
       gene.results,
       getAnnotateOptions,
       getCmatrix,
       getErrorNames,
       getGlobalStatisticNames,
       getLocalStatisticNames,
       getPImatrix,
       getResamplingOptions,
       getSAFEResults,
       global.AveDiff,
       global.Fisher,
       global.Kolmogorov,
       global.Pearson,
       global.Wilcoxon,
       local.f.ANOVA,
       local.t.LM,
       local.t.paired,
       local.t.Student,
       local.t.Welch,
       local.z.COXPH,
       safedag,
       safeplot,
       safe)
